/* ================INSTRUCTIONS=================*/
/* By changing the classes below, you can add your own custom styles for various areas of the header. In order for your changes to work though, you MUST include a reference in your HTML pages to both the common CSS file and custom CSS file in that order.

Instructions are provided below for customizing these classes.

/* ================BANNER=======================*/
/* TO DISPLAY A CUSTOM BANNER IMAGE:
If you want to display a custom banner, change the "background: url" to point to a local banner, or external, image location.

TO DISPLAY A CUSTOM BANNER COLOR (NO IMAGE):
If you would rather display a color instead of a banner image, change the "background: url" portion to point to "" and set the background color (#006633) to whatever color you wish to display.
NOTE: You can use either hexadecimal color codes (i.e. - #006633, #063) or HTML color names (i.e. - "black"). */
#usgscolorband {
	margin-top: 0px;
	background-color: #000;
	padding-left:40px; padding-right:40px;
	border-top: 10px solid #000;
	height:80px;
	opacity:0.92;
	padding-bottom:0;
	line-height:68px;
	/*background-image:url('../img/black_wave.jpg');*/
}
#usgscolorband img{
	margin-top: 0px;
}


/* ================SITE TITLE===================*/
/* TO DISPLAY A CUSTOM SITE TITLE BAR:
The #usgstitle class is specific to the colored site title bar that lies beneath the USGS identifier. To change the color of this bar, set the "background-color" attribute below to the color you wish to display and change the "color" attribute to set the text color.
NOTE: You can use either hexadecimal color codes (i.e. - #000000) or HTML color names (i.e. - "black"). */
#usgstitle {
    background-color: #1D2329;
    color: #ffffff;
    font-size:10pt;
    border:none;
    font-family: 'Source Sans Pro', sans-serif;
    height:65px;
    text-align: center;
}
#usgstitle p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size:32pt;
	line-height: 82px;
	text-align: center;
}

#usgsccsabox{

}


/* =============STANDARD CONTENT===============*/
/* TO CHANGE THE TEXT SIZE OF THE CONTENT:
By default, USGS has set the font size to "small" in order to provide a consistent size for content across all pages. If you would prefer not to have a pre-defined font size for your pages, change the "font-size" attributes below to "font-size: 100%;". */
body {
	font-size: small;
}

th, td {
	font-size: small;
}
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: medium;
	font-weight: bold;
}
